__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
venv/
ENV/
env/
.venv/
.ipynb_checkpoints
.streamlit/
.DS_Store
Thumbs.db
*.log
.env
*.env
data/*.csv
!data/cleaned_jobs.csv
.vscode/
.idea/

